.transactionHistory {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin: 5vh auto;
}

.headerRow {
    text-align: center;
  }
  
  .headerColumn {
    width: 30%;
    padding: 1rem 5rem;
    background-color: #02bbd7;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .headerColumn:first-child {
    border-radius: 15px 0 0 0;
  }
  .headerColumn:last-child {
    border-radius: 0 15px 0 0;
  }
  .valuesRow:last-child .transactionData:first-child {
    border-radius: 0 0 0 15px;
  }
  .valuesRow:last-child .transactionData:last-child {
    border-radius: 0 0 15px 0;
  }
  
  .valuesRow {
    width: calc(100% / 3);
    color: #8a8b8e;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
  }
  
  .valuesRow:nth-child(even) {
    background-color: #f2f2f2;
  }

  .valuesRow:nth-child(odd) {
    background-color: #e4e4e4;
  }


td {
    padding: 10px 20px 10px 0;
}

 td:first-child {
    padding-left: calc((100% / 3) / 5);
    text-align: left;
    }
  